<!-- START: Header -->
<header class="header">
  <div class="main__header--content">
    <!-- START: Welcome -->
    <div id="welcomeVTEX" class="header-welcome hidden">
      <vtex.cmc:welcomeMessage />
    </div>
    <!-- END: Welcome -->

    <!-- START -->
    <div class="main__top-header av-hidden-sm av-hidden-xs">
      <ul class="nav__header">
        <li class="nav__header--item first-item left-item">
          <a href="https://souesportista.decathlon.com.br/dicas" title="#Dicas" rel="noopener" target="_blank"
            class="gaClick" data-event-category="Menu Portal" data-event-action="Click Link"
            data-event-label="Menu - Dicas">#DICAS</a>
        </li>
        <li class="nav__header--item left-item">
          <a href="https://souesportista.decathlon.com.br/eventos" title="#Eventos" rel="noopener" target="_blank"
            class="gaClick" data-event-category="Menu Portal" data-event-action="Click Link"
            data-event-label="Menu - Dicas">#EVENTOS</a>
        </li>
        <li class="nav__header--item right-item">
          <a href="https://www.decathlonpro.com.br/" title="Atendimento corporativo" rel="noopener"
            target="_blank">Atendimento corporativo</a>
        </li>
        <li class="nav__header--item right-item">
          <a href="/lojas" title="Nossas lojas">Nossas lojas</a>
        </li>
        <li class="nav__header--item right-item">
          <a href="/institucional/trabalhe-conosco" title="Trabalhe Conosco">Trabalhe Conosco</a>
        </li>
        <li class="nav__header--item first-item right-item">
          <a href="/institucional/quem-somos" title="Quem Somos">Quem Somos</a>
        </li>
      </ul>
    </div>
    <!-- END: Top Links -->

    <div class="main__medium--header">

      <!-- START: Logo -->
      <div class="header-logo">
        <a href="/" class="gaClick" data-event-category="Header" data-event-action="Click"
          data-event-label="Logo Decathlon" aria-label="Logo Decathlon">
          <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 132.7 33" enable-background="new 0 0 132.7 33" xml:space="preserve">
            <rect y="0" fill="#0082C3" width="132.7" height="33" />
            <polygon fill="#FFFFFF" points="23.4,8 33.1,8 33.1,11.7 27.7,11.7 27.7,14.5 32.4,14.5 32.4,18.2 27.7,18.2 27.7,21.2 33.1,21.2
                        33.1,25 23.4,25 " />
            <g>
              <defs>
                <rect id="SVGID_1_" y="0" width="132.7" height="33" />
              </defs>
              <clipPath id="SVGID_2_">
                <use xlink:href="#SVGID_1_" overflow="visible" />
              </clipPath>
              <path clip-path="url(#SVGID_2_)" fill="#FFFFFF"
                d="M53.1,8c0,0-5.6,9.6-6.2,10.4c-0.6,1-2,2.6-4.2,2.6C39.3,21,38,18.6,38,16.5
                            c0-2.4,1.9-4.5,4.5-4.6c2.9-0.1,5,2.7,5,2.7l2.2-3.6c0,0-2.5-3.4-7.2-3.3c-7,0.2-9.1,6-9.1,8.7c0,5.7,4.4,8.6,8,8.9
                            c5.2,0.5,8-2.9,8-2.9s0,0,0.1,0c1,0,3.8,0,3.8,0V25h4.2V8H53.1z M53.6,18.9h-2.3l2.3-3.8V18.9z" />
              <polygon clip-path="url(#SVGID_2_)" fill="#FFFFFF" points="62.1,25 62.1,12.1 58.6,12.1 58.6,8 69.8,8 69.8,12.1 66.4,12.1
                            66.4,25   " />
              <polygon clip-path="url(#SVGID_2_)" fill="#FFFFFF" points="79.6,18.5 75.1,18.5 75.1,25 70.7,25 70.7,8 75.1,8 75.1,14.4
                            79.6,14.4 79.6,8 84,8 84,25 79.6,25   " />
              <polygon clip-path="url(#SVGID_2_)" fill="#FFFFFF"
                points="85.4,25 85.4,8 89.7,8 89.7,21.2 94.8,21.2 94.8,25  " />
              <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M95,10.1c1.7-1.7,3.8-2.5,6.3-2.5c2.3,0,4.5,0.9,6.2,2.5
                            c1.8,1.7,2.7,3.9,2.7,6.2c0,2.4-0.9,4.6-2.5,6.3c-1.7,1.7-4,2.7-6.4,2.7c-2.6,0-4.7-0.9-6.4-2.7c-1.6-1.7-2.5-3.8-2.5-6.3
                            C92.3,14,93.2,11.8,95,10.1 M101.2,21.1c2.5,0,4.5-2,4.5-4.7c0-2.5-2-4.5-4.5-4.5c-2.6,0-4.6,2-4.6,4.5
                            C96.7,19.1,98.8,21.1,101.2,21.1" />
              <polygon clip-path="url(#SVGID_2_)" fill="#FFFFFF" points="109.7,25 109.7,8 113.7,8 120.3,17.4 120.3,8 124.6,8 124.6,25
                            120.8,25 114.1,15.5 114.1,25  " />
              <path clip-path="url(#SVGID_2_)" fill="#FFFFFF"
                d="M8,25V8h6.1c2.8,0,4.8,0.4,6.7,2c1.7,1.5,2.6,3.7,2.6,6.5
                            c0,2.6-0.9,4.7-2.6,6.3C19,24.6,17.3,25,14.8,25H8z M19.1,16.4c0-3.1-1.7-4.8-5-4.8h-1.7v9.6h1.8C17.5,21.2,19.1,19.8,19.1,16.4" />
            </g>
          </svg>
        </a>
      </div>
      <!-- END: Logo -->

      <!-- START: Item Help -->
      <div class="header__content--item header__content--help av-hidden-sm av-hidden-xs">
        <a href="/atendimento" class="header__content--link gaClick" aria-label="Atendimento Decathlon"
          data-event-category="Header Desktop" data-event-action="Click" data-event-label="Ajuda">
          <i class="header__content-icon--help"></i>
          <span>Ajuda</span>
        </a>

        <!-- START: Box Help -->
        <div class="header__content--linkbox av-hidden-xs av-hidden-sm">
          <div class="header__content--linkbox-title">Como Podemos Ajudar?</div>
            <div class="header__linkbox">
            <div class="header__linkbox--text">
              Segunda à Sábado das 9h às 22h <br /> Feriado das 9h às 20h
            </div>
            <ul class="header__linkbox--list">
              <li class="header__linkbox--item">
                <a href="/account/orders" class="header__linkbox--link gaClick"
                  data-event-category="BoxHeaderAjuda Desktop" data-event-action="Click"
                  data-event-label="Acompanhe Pedido">1. Acompanhe seu pedido</a>
              </li>
              <li class="header__linkbox--item">
                <a href="/atendimento" class="header__linkbox--link gaClick"
                  data-event-category="BoxHeaderAjuda Desktop" data-event-action="Click"
                  data-event-label="Auto-Atendimento">2. Auto-atendimento</a>
              </li>
              <li class="header__linkbox--item">
                <a rel="nofollow" href="javascript: void(0);"
                  onclick="window.open('http://decathlon.neoassist.com/?th=chatpopNeob', '' , 'Location =NO,status=no, scrollbars=no, width=430, height='+(window.screen.availHeight - 100)+', resizable=no,top=0, left=30,scrollbars=no, directories=no,titlebar=no, menubar=no, Titlebar=no, maximized=no');"
                  class="header__linkbox--link gaClick" data-event-category="BoxHeaderAjuda Desktop"
                  data-event-action="Click" data-event-label="Chat">3. Chat</a>
              </li>
              <li class="header__linkbox--item">
                <a href="/atendimento/email" class="header__linkbox--link gaClick"
                  data-event-category="BoxHeaderAjuda Desktop" data-event-action="Click" data-event-label="Email">4.
                  Email</a>
              </li>
            </ul>
            <div class="header__linkbox--bottom">
              <i class="header__linkbox--icon"></i>
              <span>(11) 3003-1414 <br /> RJ: 0800 747 1414</span>
            </div>
          </div>
        </div>
        <!-- END: Box Help -->
      </div>
      <!-- END: Item Help -->

      <!-- START: Header Content - Search Desktop -->
      <div class="header__content--item header__search av-hidden-sm av-hidden-xs">
        <form action="#" method="post" class="search__form">
          <input type="search" class="default-input search__input" placeholder="Encontrar + de 7.000 produtos"
            aria-label="Encontrar + de 7.000 produtos" />
          <button type="submit" class="search__submit" aria-label="Buscar"><i class="search__submit-icon"></i></button>
        </form>
        <div class="search__target"></div>
      </div>
      <!-- END: Header Content - Search Desktop -->

      <!-- START: Item Account -->
      <div class="header__content--item header__content--account">
        <div class="header__content--link">
          <i class="header__content-icon--account"></i>
          <span class="account-user-name av-hidden-sm av-hidden-xs">
            <a href="/minha-conta" data-event-category="Header Desktop" aria-label="Minha Conta Decathlon"
              data-event-action="Click" data-event-label="Login" class="link-blue">Entre </a>
            ou
            <a href="/cadastro" data-event-category="Header Desktop" aria-label="Cadastro" data-event-action="Click"
              data-event-label="Cadastre-se" class="link-blue"> Cadastre-se</a></span>
        </div>

        <!-- START: Box Account -->
        <div class="header__content--linkbox header__content--user not-logged av-hidden-sm av-hidden-xs">
          <div class="header__content--linkbox-title">Minha Conta</div>
          <div class="header__linkbox">
            <div id="welcomeNameUserDtp" class="header__linkbox--text"></div>
            <ul class="header__linkbox--list">
              <li class="header__linkbox--item">
                <a href="/minha-conta" class="header__linkbox--link gaClick"
                  data-event-category="BoxHeaderConta Desktop" data-event-action="Click"
                  data-event-label="Minha Conta">Minha conta</a>
              </li>
              <li class="header__linkbox--item">
                <a href="/account/orders" class="header__linkbox--link gaClick"
                  data-event-category="BoxHeaderConta Desktop" data-event-action="Click"
                  data-event-label="Minhas Compras">Minhas compras</a>
              </li>
              <li class="header__linkbox--item">
                <a href="/no-cache/user/logout" class="header__linkbox--link gaClick"
                  data-event-category="BoxHeaderConta Desktop" data-event-action="Click"
                  data-event-label="Sair"><em>Sair da minha conta</em></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- END: Box Account -->
      </div>
      <!-- END: Item Account -->

      <!-- START: Header Minicart -->
      <div class="header__content--item header__minicart">
        <a href="/checkout" class="header__minicart-button" aria-label="Carrinho">
          <span class="header__minicart-icon">
            <i class="header__content-icon--cart"></i>
            <span class="header__minicart-amount">0</span>
          </span>
          <span class="header__minicart-text">Carrinho</span>
        </a>
        <div class="minicart">
          <!-- START: Minicart Header -->
          <div class="minicart-header">
            <h3 class="minicart-header__title av-hidden-sm av-hidden-xs">SEU CARRINHO
              <span class="minicart-close av-hidden-md av-hidden-lg"></span>
            </h3>
          </div>
          <!-- END: Minicart Header -->

          <!-- START: Minicart Products -->
          <ul class="minicart-products"></ul>
          <!-- END: Minicart Products -->

          <!-- START: Minicart Footer -->
          <div class="minicart-footer">
            <div class="minicart-resume">
              <div class="minicart-resume__checkout">
                <a href="/checkout" class="minicart-checkout button button--large button--yellow"
                  aria-label="Finalizar Compra">FINALIZAR COMPRA
                  <i class="icon arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- END: Minicart Footer -->
        </div>
        <!-- END: Minicart -->
      </div>
      <!-- END: Header Minicart -->
    </div>
  </div>

  <div class="main__header--nav av-hidden-sm av-hidden-xs">
    <!-- START: Menu First Level -->
    <vtex.cmc:menuFirstLevel />
    <!-- END: Menu First Level -->
  </div>

  <!-- START: Menu Second Level -->
  <div class="menu-content">
    <div class="menu-content--overlay"></div>

    <!-- START: Menu Sports -->
    <vtex.cmc:MenuAllSports />
    <!-- END: Menu Sports -->

    <!-- START: Menu Roupas -->
    <vtex.cmc:MenuProductsRoupas />
    <!-- END: Menu Roupas -->

    <!-- START: Menu Calçados -->
    <vtex.cmc:MenuProductsCalcados />
    <!-- END: Menu Calçados -->

    <!-- START: Menu Equipamentos -->
    <vtex.cmc:MenuProductsEquipamentos />
    <!-- END: Menu Equipamentos -->

    <!-- START: Menu Acessorios -->
    <vtex.cmc:menuTipologiaProductsFeminino />
    <!-- END: Menu Acessorios -->

    <!-- START: Menu Suplementos -->
    <vtex.cmc:menuTipologiaProductsInfantil />
    <!-- END: Menu Suplementos -->

    <!-- START: Menu Cuidados -->
    <vtex.cmc:menuTipologiaProductsMasculino />
    <!-- END: Menu Cuidados -->
  </div>
  <!-- END: Menu Second Level -->
</header>
<!-- END: Header -->
