<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">
    <head>
        <vtex:metaTags/>
        <meta name="controller" content="Cadastro" />

        <!-- INICIO - Subtemplate Metatags -->
        <vtex:template id="1-dct-web-metatags" />
        <!-- FIM - Subtemplate Metatags -->

        <!-- INICIO - Style e Subtemplate Styles -->
        <vtex:template id="1-dct-web-styles" />
        <!-- FIM - Subtemplate Styles -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- INICIO - Subtemplate Header -->
        <vtex:template id="1-dct-web-header" />
        <!-- FIM - Subtemplate Header -->

        <!-- INICIO - Miolo da página -->
        <main class="main" id="main">
            <div class="wrapper">
                <div class="section-title">
                  <h2>Faça seu <span>Cadastro</span></h2>
                </div>
                <div class="cadastro-form">
                    <form action="javascript:;" id="formCadastro" class="formCadastro">

                        <div class="form-quarter form-group">
                            <input type="text" name="cnpj" id="cnpj" class="required form-control" placeholder="CNPJ (Somente números)" />
                            <div class="form-help">
                                <div class="caret"></div>
                                <div class="text">CNPJ inválido.</div>
                            </div>
                        </div>

                        <div class="form-quarter form-group">
                            <input type="text" name="razaoSocial" id="razaoSocial" class="required form-control" placeholder="Razão social" />
                        </div>

                        <div class="form-quarter form-group not-selected">
                            <select id="segmento" name="segmento" class="form-control">
                                <option selected="selected" disabled="disabled">Segmento de atuação</option>
                                <option value="Agricultura e mineração">Agricultura e mineração</option>
                                <option value="Computadores e eletrônicos">Computadores e eletrônicos</option>
                                <option value="Bens de consumo">Bens de consumo</option>
                                <option value="Educação">Educação</option>
                                <option value="Energia e concessionárias públicas">Energia e concessionárias públicas</option>
                                <option value="Serviços financeiros">Serviços financeiros</option>
                                <option value="Jogos">Jogos</option>
                                <option value="Governo">Governo</option>
                                <option value="Saúde">Saúde</option>
                                <option value="Ciências biológicas">Ciências biológicas</option>
                                <option value="Manufatura">Manufatura</option>
                                <option value="Mídia e entretenimento">Mídia e entretenimento</option>
                                <option value="Organização sem fins lucrativos">Organização sem fins lucrativos</option>
                                <option value="Serviços profissionais">Serviços profissionais</option>
                                <option value="Imóveis e construção">Imóveis e construção</option>
                                <option value="Varejo">Varejo</option>
                                <option value="Software e Internet">Software e Internet</option>
                                <option value="Telecomunicações">Telecomunicações</option>
                                <option value="Transportes e logística">Transportes e logística</option>
                                <option value="Turismo e hotelaria">Turismo e hotelaria</option>
                                <option value="Atacado e distribuição">Atacado e distribuição</option>
                                <option value="Outro">Outro</option>
                            </select>
                        </div>

                        <div class="form-quarter form-group">
                            <input type="text" name="areaResponsavel" id="areaResponsavel" class="required form-control" placeholder="Área do responsável" />
                        </div>

                        <div class="form-quarter-big form-group">
                            <input type="text" name="inscricao" id="inscricao" class="required form-control" placeholder="Inscrição estadual" />
                        </div>

                        <div class="form-quarter-small form-group">
                            <div class="control-inline">
                              <div class="form-group checkbox">
                                <label class="control-checkbox">
                                  <input type="checkbox" id="isento" name="isento" />
                                  <span class="control-indicator"></span> Isento
                                </label>
                              </div>
                            </div>
                        </div>

                        <div class="form-quarter form-group">
                            <input type="text" name="nomeResponsavel" id="nomeResponsavel" class="required form-control" placeholder="Nome do responsável" />
                        </div>

                        <div class="form-quarter form-group">
                            <input type="text" name="sobrenomeResponsavel" id="sobrenomeResponsavel" class="required form-control" placeholder="Sobrenome do responsável" />
                        </div>

                        <div class="form-quarter form-group">
                            <input type="text" name="cpf" id="cpf" class="required form-control" placeholder="CPF do responsável" />
                        </div>

                        <div class="form-quarter form-email form-group">
                            <input type="email" name="email" id="email" class="required form-control" placeholder="Email" />
                        </div>

                        <div class="form-quarter form-group">
                            <input type="text" name="telefoneCelular" id="telefoneCelular" class="required form-control" placeholder="Telefone Celular" />
                        </div>

                        <div class="form-quarter form-group">
                            <input type="text" name="telefoneFixo" id="telefoneFixo" class="required form-control" placeholder="Telefone Fixo" />
                        </div>

                        <div class="form-quarter-big form-group">
                            <i class="cep-loading"></i>
                            <input type="text" name="cep" id="cep" class="required form-control" placeholder="CEP" />
                        </div>

                        <div class="form-quarter-small form-group">
                            <input type="text" name="uf" id="uf" class="required form-control" placeholder="UF" />
                        </div>

                        <div class="form-quarter-big form-group">
                            <input type="text" name="rua" id="rua" class="required form-control" placeholder="Rua" />
                        </div>

                        <div class="form-quarter-small form-group">
                            <input type="text" name="numero" id="numero" class="required form-control" placeholder="Número" />
                        </div>

                        <div class="form-quarter form-group">
                            <input type="text" name="complemento" id="complemento" class="form-control" placeholder="Complemento" />
                        </div>

                        <div class="form-quarter form-group">
                            <input type="text" name="bairro" id="bairro" class="required form-control" placeholder="Bairro" />
                        </div>

                        <div class="form-quarter form-group">
                            <input type="text" name="cidade" id="cidade" class="required form-control" placeholder="Cidade" />
                        </div>

                        <div class="form-three-quarters form-group">
                            <textarea name="observacoes" id="observacoes" class="form-control" placeholder="Observações"></textarea>
                        </div>

                        <div class="form-quarter form-btn-container">
                            <div class="control-inline">
                              <div class="form-group checkbox">
                                <label class="control-checkbox">
                                  <input type="checkbox" id="termos" name="termos" />
                                  <span class="control-indicator">
                                  </span>
                                  Eu aceito os <a href="https://www.decathlon.com.br/ace/politica-de-privacidade" target="_blank">Termos de Privacidade</a>, <a href="http://i-decathlon.a8e.net.br/static/pdf/politica-de-compra-decathlonpro.pdf" target="_blank">Política de Compra</a>, <a href="http://i-decathlon.a8e.net.br/static/pdf/politica-cartao-presente-decathlonpro.pdf" target="_blank">Política Cartão Presente</a>, e afirmo que as informações aqui passadas são verdadeiras e válidas.
                                </label>
                              </div>
                            </div>

                            <button type="submit" disabled="disabled" class="button-disabled">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>


        <div class="av-modal av-modal--cadastro">
            <div class="av-modal__modal">
                <div class="av-modal__header">
                    <h3 class="av-modal__title">OLÁ ESPORTISTA</h3>
                    <a href="javascript:;" class="av-modal-close"></a>
                </div>
                <div class="av-modal__content">
                    <p class="av-modal--cadastro__info">Estamos enviando seu cadastro</p>
                    <img src="/arquivos/ajax-loader--blue.gif"></img>
                    <a href="javascript:;" class="btn-tentar-novamente" style="display: none;">Tentar de novo</a>
                    <a href="javascript:;" class="btn-modal-close" style="display: none;">Fechar</a>
                </div>
            </div>
        </div>

        <!-- FIM - Miolo da página -->

        <!-- INICIO - Subtemplate Generico -->
        <vtex:template id="1-dct-web-generico" />
        <!-- FIM - Subtemplate Generico -->

        <!-- INICIO - Subtemplate Footer -->
        <vtex:template id="1-dct-web-footer" />
        <!-- FIM - Subtemplate Footer -->

        <!-- INICIO - Suport content -->
        <div class="suport-content"></div>
        <!-- FIM - Suport content -->

        <!-- INICIO - Scripts e Subtemplate Scripts -->
        <script src="/arquivos/jquery.mask.js"></script>
        <script src="/arquivos/jquery.cpfcnpj.min.js"></script>
        <vtex:template id="1-dct-web-scripts" />
        <!-- FIM - Subtemplate Scripts -->
    </body>
</html>
