<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">
    <head>
        <vtex:metaTags/>
        <meta name="controller" content="Account" />

        <!-- INICIO - Subtemplate Metatags -->
        <vtex:template id="1-dct-web-metatags" />
        <!-- FIM - Subtemplate Metatags -->

        <!-- INICIO - Style e Subtemplate Styles -->
        <vtex:template id="1-dct-web-styles" />
        <!-- FIM - Subtemplate Styles -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- INICIO - Subtemplate Header -->
        <vtex:template id="1-dct-web-header" />
        <!-- FIM - Subtemplate Header -->

        <!-- INICIO - Miolo da página -->
        <main class="main" id="main">
            <div class="breadcrumb">
                <div class="wrapper">
                    <div class="bread-crumb">
                        <ul>
                            <li><a title="DECATHLONPRO" href="/">DECATHLONPRO</a></li>
                            <li class="last"><strong><a title="account" href="/account">Meus dados</a></strong></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="account-title">
                <div class="wrapper">
                    <h1>Meus dados</h1>
                    <p><a href="/account/orders">Meus pedidos</a></p>
                </div>
            </div>

            <div class="account-content">
                <div class="wrapper">
                    <div class="account-profile">
                        <div class="account-block-container">
                            <vtex.cmc:accountUserProfile />

                            <p class="foot-note-account">Se precisar alterar seus dados entre em contato com o nosso <a href="mailto:corporativo@decathlon.com">atendimento</a></p>
                        </div>
                    </div>

                    <div class="account-address">
                        <div class="account-block-container">
                            <vtex.cmc:accountAddress/>

                            <a href="javascript:;" class="account-btn account-btn--address av-modal-open btn btn-primary" data-target="av-modal--address">Adicionar endereço</a>
                        </div>

                    </div>
                </div>
            </div>
        </main>


        <div class="account-modals">
            <div class="av-modal av-modal--profile">
                <div class="av-modal__modal">
                    <div class="av-modal__header">
                        <a href="javascript:;" class="av-modal-close"></a>
                    </div>

                    <div class="av-modal__content"></div>
                </div>
            </div>

            <div class="av-modal av-modal--address">
                <div class="av-modal__modal">
                    <div class="av-modal__header">
                        <a href="javascript:;" class="av-modal-close"></a>
                    </div>

                    <div class="av-modal__content"></div>
                </div>
            </div>

            <div class="av-modal av-modal--remove-address">
                <div class="av-modal__modal">
                    <div class="av-modal__header">
                        <a href="javascript:;" class="av-modal-close"></a>
                    </div>

                    <div class="av-modal__content"></div>
                </div>
            </div>

            <div class="av-modal av-modal--edit-address">
                <div class="av-modal__modal">
                    <div class="av-modal__header">
                        <a href="javascript:;" class="av-modal-close"></a>
                    </div>

                    <div class="av-modal__content"></div>
                </div>
            </div>
        </div>
        <!-- FIM - Miolo da página -->

        <!-- INICIO - Subtemplate Generico -->
        <vtex:template id="1-dct-web-generico" />
        <!-- FIM - Subtemplate Generico -->

        <!-- INICIO - Subtemplate Footer -->
        <vtex:template id="1-dct-web-footer" />
        <!-- FIM - Subtemplate Footer -->

        <!-- INICIO - Suport content -->
        <div class="suport-content"></div>
        <!-- FIM - Suport content -->

        <!-- INICIO - Scripts e Subtemplate Scripts -->
        <vtex:template id="1-dct-web-scripts" />
        <!-- FIM - Subtemplate Scripts -->
    </body>
</html>
