.slick-dots {
    width: 100%;
    z-index: 2;
    top: auto;
    text-align: center;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        width: auto;
        float: none;
        button {
            display: inline-block;
            vertical-align: middle;
            @include border-radius(50px);
            font-size: 0;
            width: 8px;
            height: 8px;
            border: 0;
            padding: 1px;
            background: #bcb8b8;
            margin-top: -1px;
        }

        &.slick-active {
            button {
                margin-top: 0px;
                width: 9px;
                height: 9px;
                padding: 3px;
                background: #fff;
                border: 3px solid $decaBlue;
            }
        }
    }
}

.slick-arrow {
    border: 0;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    z-index: 2;
    padding: 0;
    font-size: 0;
}
