.buscaVazia-content {
	.wrapper {
		@extend .av-container;
	}

	.listagem-title {
		text-align: center !important;
	}
}

.busca-middle-banner {
	@extend .clearfix;
	margin-bottom: 50px;

	&:last-of-type {
		margin-bottom: 123px;
	}

	.box-banner {
		display: inline-block;
	    width: 50%;
	    vertical-align: top;

	    img {
	      @media (max-width: $screen-lg) { width: 100%; height: auto; }
	      @media (max-width: $screen-sm) { width: auto; margin: 0 auto; }
	      @media (max-width: $screen-xs) { width: 100%; }
	    }
	}
}

@media (max-width: $screen-sm) {

	.buscaVazia-search { width: 270px; }
}
