.button {
    @include border-radius(2px);
    @include transition(all 200ms linear);
    font-family: $secondaryFont;
    text-transform: uppercase;
    /**
   * Size
   */
    &--small {}
    &--medium {
        font-size: 12px;
        padding: 7px 16px;
    }
    &--large {
        padding: 12px 30px;
        font-size: 15px;
    }
    /**
   * Colors
   */
    &--blue {
        background-color: $decaBlue;
        border: 1px solid $decaBlue;
        color: #FFF;
        position: relative;
        font-family: $secondaryFont;
        font-weight: bold;
        display: inline-block;
        &:hover {
            text-decoration: none;
            color: #ffffff;
            background-color: #0074af;
        }
        &.button--shadow {
            @extend .button-shadow-style;
            &:after {
                border-color: transparent #0074af transparent transparent;
            }
        }
        .icon {
            @extend .sprite-white-arrow-right;
            position: absolute;
            right: 10%;
            top: 37%;
        }
    }
    &--yellow {
        background-color: $yellow;
        border: 1px solid $yellow;
        color: #333333;
        position: relative;
        font-family: $secondaryFont;
        font-weight: bold;
        display: inline-block;
        &:hover {
            text-decoration: none;
            background-color: #fdd836;
        }
        &.button--shadow {
            @extend .button-shadow-style;
            &:after {
                border-color: transparent #fdd836 transparent transparent;
            }
        }
        .icon {
            @extend .sprite-arrow-right;
            position: absolute;
            right: 10%;
            top: 37%;
        }
    }
    /**
   * Disabled
   */
    &:disabled,
    &[disabled] {
        opacity: .4;
        pointer-events: none;
    }
}

.button-shadow-style {
    &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 30px 0px 0;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}